.remain-overview{
    color: #fff; 
    padding: 6px 10px;
    overflow: hidden;
    .overview-data-number{
        align-items: baseline;
        display: flex!important;
        font-size: 18px;
    }
}