.ant-modal-header{
    background-color: #5f99f5 !important;
    .ant-modal-title{
         
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0
    }
     
}
.ant-modal-body{
    background-color: white;
}